<section>
  <h1 class="title">About</h1>
  <article class="about">
    <div class="about__text">
      <p>
        This site was created by
        <a href="https://www.andrewevans.dev">Andrew Evans</a>
      </p>
      <p>
        The site is for wine enthusiasts and lets you share and save your
        favorites.
      </p>
      <p>
        It's built with Angular, Firebase, Twilio, and is Open Source with the
        MIT License.
      </p>
      <p>
        It is dedicted to Miss Rey Evans. She enjoys cuddling, playing, and
        chewing on cardboard. When asked her opinion of this site and she said
        it was...
      </p>
    </div>
    <div>PUUURRRRFFFEECT</div>
    <p>Here she is in all her glory....</p>
    <img src="../../../assets/pages/about.jpg" />

    <button (click)="back()">back</button>
  </article>
</section>
