// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$reys-wines-primary: mat-palette($mat-indigo);
$reys-wines-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$reys-wines-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$reys-wines-theme: mat-light-theme(
    (
        color: (
            primary: $reys-wines-primary,
            accent: $reys-wines-accent,
            warn: $reys-wines-warn,
        ),
    )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($reys-wines-theme);

/* You can add global styles to this file, and also import other style files */

// colors
// https://html-color.codes/purple

body {
    background-color: #3f194a;
    color: #e6d3c4;
}

button {
    width: 250px;
    height: 50px;
    margin: 5px auto;
    padding: 0;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    font-family: 'Cormorant SC', serif;
    font-size: 25px;
    font-weight: bold;
    border-radius: 20px;
    background-color: #dda0dd;
    color: #5a4fcf;
}

button:disabled {
    filter: grayscale(1);
}

.error {
    color: #e84943;
    font-family: 'Parisienne', cursive;
    margin: 10px;
    font-size: 20px;
}

.title {
    font-family: 'Parisienne', cursive;
    text-align: center;
    width: 240px;
    height: 100%;
    font-size: 40px;
}

section {
    margin-bottom: 50px;
}

// html,
// body {
//     height: 100%;
// }
// body {
//     margin: 0;
//     font-family: Roboto, 'Helvetica Neue', sans-serif;
// }
