$title-font: 'Cormorant SC', serif;

p {
    text-align: center;
    font-family: $title-font;
    font-size: 18px;
}

h2 {
    text-align: center;
    font-family: $title-font;
}

.error {
    color: red;
    text-align: center;
    margin: 10px;
}

.success {
    color: green;
    margin: 10px;
}

mat-dialog-content {
    margin: 0 auto;
}

input {
    font-size: 18px;
    width: 150px;
}
